/* Widget color groups */


@variables
{
/* Default palette */
qtc_default_decor_normal:#FFFFFF;
qtc_default_decor_pressed:#FFFFFF;
qtc_default_decor_latched:#FFFFFF;
qtc_default_decor_highlight:#FFFFFF;
qtc_default_decor_disabled:#9B9B9B; 
qtc_default_main_pane_normal:#FFFFFF;
qtc_default_main_pane_pressed:#FFFFFF;
qtc_default_main_pane_latched:#FFFFFF;
qtc_default_main_pane_highlight:#FFFFFF;
qtc_default_main_pane_disabled:#9B9B9B; 
qtc_default_popup_normal:#FFFFFF;
qtc_default_popup_pressed:#FFFFFF;
qtc_default_popup_latched:#FFFFFF;
qtc_default_popup_highlight:#FFFFFF;
qtc_default_popup_disabled:#9B9B9B;

/* Title pane */
qtc_title_pane_normal:#FFFFFF;
qtc_title_pane_pressed:#FFFFFF;
qtc_title_pane_highlight:#FFFFFF;
qtc_title_pane_latched:#FFFFFF;
qtc_title_pane_trans_normal:#FFFFFF;
qtc_title_pane_trans_pressed:#FFFFFF;
qtc_title_pane_trans_highlight:#FFFFFF;
qtc_title_pane_trans_latched:#FFFFFF;
qtc_status_pane:#FFFFFF; /* Added 05.02.2010 */
qtc_status_pane_trans:#FFFFFF; /* Added 05.02.2010 */

/* Main area - View */
qtc_view_normal:#FFFFFF;
qtc_view_pressed:#FFFFFF;
qtc_view_line_normal:#FFFFFF;
qtc_view_link_normal:#33C8FF;
qtc_view_visited_normal:#B378FF;
qtc_view_separator_normal:#9B9B9B;
qtc_view_normal_secondary:#E6E6E6; /* Modified 26.08.2010 */

/* Main area - View title */
qtc_viewtitle_normal:#E6E6E6;

/* Main area - Grid */ 
qtc_grid_normal:#DCDCDC;
qtc_grid_pressed:#FFFFFF;
qtc_grid_highlight:#FFFFFF;
qtc_grid_latched:#FFFFFF; /* Added 05.02.2010 */
qtc_grid_disabled:#9B9B9B; /* Modified 01.03.2010 */

/* Main area - List */ 
qtc_list_item_title_normal:#FFFFFF; /* Modified 19.02.2010 */
qtc_list_item_title_secondary_normal:#F0F0F0; /* Added 02.09.2010 */
qtc_list_item_content_normal:#F0F0F0;
qtc_list_item_content_secondary_normal:#B5B5B5; /* Added 02.09.2010 */
qtc_list_item_parent_normal:#F0F0F0;
qtc_list_item_pressed:#FFFFFF;
qtc_list_item_highlight:#FFFFFF;
qtc_list_item_disabled:#9B9B9B;
qtc_list_item_latched:#FFFFFF; /* Added 05.02.2010 */
qtc_list_item_separator:#FFFFFF; /* Added 22.02.2010 */

/* Button */ 
qtc_button_normal:#FFFFFF;
qtc_button_pressed:#FFFFFF;
qtc_button_latched:#FFFFFF;
qtc_button_highlight:#FFFFFF;
qtc_button_disabled:#9B9B9B;

/* LineEdit */ 
qtc_lineedit_normal:#FFFFFF;
qtc_lineedit_selected:#FFFFFF;
qtc_lineedit_marker_normal:#4D4D4D;
qtc_lineedit_hint_normal:#F0F0F0;
qtc_lineedit_cursor:#33C8FF; /* Added 25.08.2010 */

/* Combobox */ 
qtc_combobox_normal:#FFFFFF;
qtc_combobox_pressed:#FFFFFF;
qtc_combobox_highlight:#FFFFFF;
qtc_combobox_disabled:#9B9B9B;
qtc_combobox_edit:#4D4D4D;
qtc_combobox_latched:#FFFFFF; /* Added 05.02.2010 */

/* Tumbler */
qtc_tumbler_normal:#3C3C3C;
qtc_tumbler_selected:#3C3C3C;
qtc_tumbler_highlight:#FFFFFF;

/* Main area - DataForm */
qtc_dataform_heading:#FFFFFF; /* Added 04.03.2010 */
qtc_dataform_heading_link:#33C8FF; /* Added 22.03.2010 */

/* Main area - ProgressSlider */
qtc_progslider_normal:#FFFFFF; /* Added 09.02.2010 */
qtc_progslider_pressed:#FFFFFF; /* Added 09.02.2010 */

/* Main area - Text edit */ 
qtc_textedit_normal:#FFFFFF; /* Added 17.02.2010 */
qtc_textedit_selected:#FFFFFF; /* Added 17.02.2010 */
qtc_textedit_marker_normal:#4D4D4D; /* Added 17.02.2010 */
qtc_textedit_hint_normal:#F0F0F0; /* Added 17.02.2010 */
qtc_textedit_cursor:#33C8FF; /* Added 25.08.2010 */

/* Main area - Toolbar */
qtc_toolbar_normal:#FFFFFF;
qtc_toolbar_pressed:#FFFFFF;
qtc_toolbar_latched:#FFFFFF;
qtc_toolbar_disabled:#9B9B9B;
qtc_toolbar_highlight:#FFFFFF;
qtc_toolbar_trans_normal:#FFFFFF;
qtc_toolbar_trans_pressed:#FFFFFF;
qtc_toolbar_trans_latched:#FFFFFF;
qtc_toolbar_trans_disabled:#9B9B9B;
qtc_toolbar_trans_highlight:#FFFFFF;

/* Main area - Groupbox */
qtc_groupbox_normal:#FFFFFF;
qtc_groupbox_pressed:#FFFFFF;
qtc_groupbox_highlight:#FFFFFF;

/* Pop-ups - Generic pop-up */ 
qtc_popup_sk_normal:#FFFFFF;
qtc_popup_sk_highlight:#FFFFFF;
qtc_popup_sk_pressed:#FFFFFF;
qtc_popup_sk_disabled:#9B9B9B; /* Added 05.02.2010 */
qtc_popup_heading_normal:#FFFFFF;
qtc_popup_normal:#B5B5B5;
qtc_popup_link:#33C8FF; /* Added 16.02.2010 */

/* Pop-ups - Preview pop-up */
qtc_popup_preview_normal:#FFFFFF;
qtc_popup_preview_pressed:#F0F0F0;
qtc_popup_preview_link:#33C8FF;

/* Pop-ups - Transparent pop-up */
qtc_popup_trans_normal:#FFFFFF;
qtc_popup_trans_pressed:#F0F0F0;
qtc_popup_trans_link:#33C8FF;

/* Pop-ups - Grid in a pop-up */ 
qtc_popup_grid_normal:#FFFFFF;
qtc_popup_grid_pressed:#FFFFFF; 
qtc_popup_grid_highlight:#FFFFFF;
qtc_popup_grid_disabled:#9B9B9B;
qtc_popup_grid_latched:#FFFFFF; /* Added 05.02.2010 */
qtc_popup_grid_trans_normal:#FFFFFF; /* Added 05.02.2010 */

/* Pop-ups - List in a pop-up */ 
qtc_popup_list_title_normal:#FFFFFF;
qtc_popup_list_item_content_normal:#FFFFFF;
qtc_popup_list_item_parent_normal:#FFFFFF;
qtc_popup_list_item_pressed:#FFFFFF;
qtc_popup_list_item_highlight:#FFFFFF;
qtc_popup_list_item_disabled:#9B9B9B;
qtc_popup_list_item_latched:#FFFFFF; /* Added 05.02.2010 */
qtc_popup_list_item_trans_normal:#FFFFFF; /* Added 12.02.2010 */

/* Virtual inputs */ 
qtc_input_button_normal:#FFFFFF; /* Modified 19.02.2010 */
qtc_input_button_accented_normal:#FFFFFF; /* Added 22.02.2010 */
qtc_input_button_pressed:#FFFFFF; /* Modified 19.02.2010 */
qtc_input_button_latched:#FFFFFF; /* Modified 19.02.2010 */
qtc_input_button_disabled:#9B9B9B; /* Modified 19.02.2010 */
qtc_input_function_normal:#FFFFFF; /* Modified 19.02.2010 */
qtc_input_function_pressed:#FFFFFF; /* Modified 19.02.2010 */
qtc_input_function_latched:#FFFFFF; /* Modified 19.02.2010 */
qtc_input_function_disabled:#9B9B9B; /* Modified 19.02.2010 */
qtc_input_preview_normal:#FFFFFF; /* Modified 22.02.2010 */
qtc_input_hint_normal:#F0F0F0; /* Added 05.03.2010 */
qtc_input_grid_line:#9B9B9B; /* Added 12.03.2010 */
}

